/*body {
    background-color: #fff;
}*/

.main {
    width:1400px;
    border: 1px solid #E2D9D0;
    background: #fff;
    margin: 30px auto;
    padding: 10px 20px;
}
table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 1000px;
    border: 1px solid red;
    margin: 0 auto;
}
table tr:nth-child(even) {
    /*word-wrap: break-word;*/
    background: #fff;
}
table tr:nth-child(odd) {
    background: #F0F0F0;
    /*word-wrap: break-word;*/
}
td, tr {
    border: 1px solid #C0C0C0;
    word-wrap: break-word;
    padding: 0px 3px;
}
th {
    border: 1px solid #C0C0C0;
    background-color: #E2D9D0;
    /*word-wrap: break-word;*/
}
#no {
    width: 50px;
}
#name {
    width: 120px;
}
#sex {
    width: 50px;
}
#address {
    width: 250px;
}
#mail {
    width: 300px;
    word-wrap: break-word;
}
#tell {
    width: 150px;
}
#where {
    width: 100px;
}
#category {
    width: 50px;
}
#situmon {
    width: 250px;
    word-wrap: break-word;
}
#color {
    background-color: #ffcc99;
}
div .search {
    margin-bottom: 40px;
}
div .button {
    width: 300px;
    margin: 40px auto;
    display: flex;
}
div .button .button1, div .button .button1 {
    width: 100px;
}
